<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.internet">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@drawable/main_title"
        android:label="ZhiHu Daily"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".ToolClass.AppContext">

        <activity
            android:name=".Start.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomePage.HomePage">
        </activity>
        <activity
            android:name=".News.NewsContent" >
        </activity>
        <activity
            android:name=".Theme.ThemeContent">
        </activity>
        <activity
            android:name=".Comment.CommentContent">
        </activity>
        <activity
            android:name=".Editor.EditorsContent">
        </activity>
        <activity
            android:name=".Editor.EditorWebView">
        </activity>
        <activity
            android:name=".User.Log">
        </activity>
        <activity
            android:name=".User.Register">
        </activity>


    </application>
</manifest>